template {
		height: 100%;
		width: 100%;
	}

	.mainbg {
		margin: 0upx;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		bottom: 0px;
		background-image: url('https://bing.ioliu.cn/v1/rand?w=720&h=1280');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}


	.text-container {
		padding-bottom: 5upx;
		margin-top:30%;
		margin-left: calc(50% - 85% / 2);
		width: 85%;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 30upx;
	}

	view>div>p {
		margin: 0 10%;
		width: 80%;
		text-align: center;
		font-family: helvetica;
	}

	view>div>p:first-child {
		margin-top: 20upx;
		font-size: 70upx;
	}

	view>div>p:nth-child(2) {
		margin-top: 10upx;
		font-size: 30upx;
	}

	view>div>p:nth-child(3) {
		width: 90%;
		margin: 40upx 5% 0upx 5%;
		border: 2upx dashed #3C3E49;
		border-radius: 10upx;
		font-size: 50upx;
	}

	view>div>p:nth-child(4) {
		margin-top: 40upx;
		font-size: 28upx;
	}

	view>div>p:nth-child(5) {
		margin-top: 20upx;
		font-size: 26upx;
	}

	.poem {
		margin-top: 100upx;
		width: 90%;
		left: 5%;
		right: 5%;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 30upx;
	}

	view>div>.poem>p:nth-child(1) {
		font-size: 50upx;
		font-style: italic;
	}

	view>div>.poem>p:nth-child(2) {
		text-align: right;
		font-style: italic;
		color: #2C405A;
		font-size: 25upx;
	}

	foot {
		margin-left: 39%;
		margin-right: 39%;
		top: 97%;
		border-radius: 5upx;
		position: absolute;
		text-align: center;
		color: #000000;
		opacity: 0.8;
		font-size: 25upx;
		background-color: #ffffff;
		font-family: helvetica;
	}